
h1 {
  font-size: 40px;
  font-style: bold;
  color: #231EDC;
}


p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.container-fluid {
    max-width: 200rem;
}
.container-fluid main {
    max-width: 55rem;
}
